* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  background: linear-gradient(167deg, #e9e5ff -0.45%, #f7ebe5 93.03%);
}

h1 {
  border-bottom: 1px solid #0a1057;
  padding-bottom: 1rem;
  font-family: "Bangers", serif;
  text-align: center;
  color: #0a1057;
  margin-top: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.wrapper {
  background-color: white;
  text-align: center;
  border-radius: 27.624px;
  background: linear-gradient(180deg, #f7f6ff 0%, #fefefe 100%);
  box-shadow: 0px 12.14815px 12.14815px 0px rgb(57 55 75 / 9%);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 1;
}

.input-squares {
  display: flex;
  gap: 1rem;
}

.input {
  width: 50px;
  height: 50px;
  border: 0.86px solid #eaeaea;
  background-color: #f3f5f7;
  text-align: center;
  font-size: 32px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus-visible {
  border: 2px solid #8250fb;
}

.check {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.check h3 {
  font-family: "Bargers", serif;
  font-size: 32px;
}

.input__button {
  border: none;
  border-radius: 30.37px;
  padding: 1rem;
  background-color: #8250fb;
  color: white;
  font-weight: bold;
}

.input__button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.wrapper__counter {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.counter--none {
  display: none;
}

.counter {
  width: 20px;
  height: 20px;
  background-color: aqua;
  border-radius: 1000px;
}

.green {
  background-color: rgb(43, 226, 49);
}

.orange {
  background-color: rgb(255, 106, 0);
}

#greenCounter {
  margin-right: 3rem;
}

.input--green {
  background-color: rgb(43, 226, 49);
}

.input--orange {
  background-color: rgb(255, 106, 0);
}

.reset--button {
  height: 3rem;
  width: 90%;
  border-radius: 35px;
  background: #221248;
  color: white;
  font-size: large;
  border: none;
}

.reset--button:hover {
  box-shadow: 6px 6px 23.9px 0px #12072c inset;
}

#clickDescription {
  background-color: white;
  border: none;
  font-size: 1rem;
  padding-bottom: 12px;
}

#clickDescription span {
  color: #8250fb;
}

.description {
  border-radius: 31.835px 31.835px;
  background: linear-gradient(143deg, #c189ed 2.71%, #804ff8 95.87%);
  color: white;
  flex-shrink: 0;
  padding: 32px;
  position: relative;
  top: -100px;
  z-index: 0;
  translate: 0px -100%;
  opacity: 0;
  /* transition: opacity 0.6s ease-in-out, translate 0.8s ease-in-out; */
}

.description h2 {
  margin: 48px 0 24px 0;
  font-family: Bangers;
}

.messages {
  background-color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 8px;
  display: block;
  width: 430px;
}

.messages:empty {
  display: none;
}

#winningGiphy {
  width: 430px;
  height: 200px;
  margin-top: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.giphy--display {
  display: block !important;
}

#guessFormTrivia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.container__text {
  margin-top: 1rem;
  height: 25px;
}

#inputTrivia {
  height: 30px;
  margin-top: 1rem;
  padding: 1rem;
}

#guessFormTrivia .reset--button {
  margin-top: 1rem;
}
